# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ChaosVehicles.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Program Files\Epic Games\UE_5.0EA\Engine\Plugins\Experimental\ChaosVehiclesPlugin\Source\ChaosVehicles\.idea\.idea.ChaosVehicles.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
